<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="teachers" href="/tabs/teachers">
			<!-- <ion-icon aria-hidden="true" name="school-outline"></ion-icon> -->
			<ion-icon aria-hidden="true" name="triangle"></ion-icon>
			<ion-label>Teachers</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="rehearsal-house" href="/tabs/rehearsal-house">
			<ion-icon aria-hidden="true" name="ellipse"></ion-icon>
			<ion-label>Rehearsal House</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="contracts" href="/tabs/contracts">
			<ion-icon aria-hidden="true" name="square"></ion-icon>
			<ion-label>Contracts</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="admin" href="/tabs/admin">
			<ion-icon aria-hidden="true" name="square"></ion-icon>
			<ion-label>Admin</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
